// $font-size: 16px;
$font-size: calc(16px + 6 * ((100vw - 320px) / 680));
// $font-family: "Times New Roman", Times, serif;
$font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
$font-weight: 400;

// Colors
// $font-color: aqua;
// $background-color-body: none; // make a constructor image...
// $background-color-content: blueviolet;
// $background-color-menu: #171717;
// $background-color-footer: #171717;
// $border-color: #4D004D;
// $shadow-color: #4D004D;

/* Color Theme Swatches in Hex */
// $border-color-hex: #403725;
// $background-color-menu-hex: #BBF78F;
// $font-color-hex: #00FFFF;
// $background-color-content-hex: #150E29;
// $background-color-footer-hex: #171717;
// $shadow-color-hex: #BBF78F;

/* Color Theme Swatches in RGBA */
// $border-color-rgba: rgba(64, 55, 37, 1);
// $background-color-menu-rgba: rgba(187, 247, 143, 1);
// $font-color-rgba: rgba(0, 255, 255, 1);
// $background-color-content-rgba: rgba(21, 14, 41, 1);
// $background-color-footer-rgba: rgba(23, 23, 23, 1);
// $shadow-color-rgba: rgba(187, 247, 143, 1);

// $font-color: rgba(0, 255, 255, 1);
// $background-color-content: rgba(23, 23, 23, 1);
// $background-color-menu: rgba(0, 0, 0, 1);
// $background-color-footer: rgba(21, 14, 41, 1);
// $border-color: rgba(187, 247, 143, 1);
// $shadow-color: rgba(64, 55, 37, 1);

$header-color: #800080;
$link-color: #800080;
$font-color: lightsteelblue; //lightblue; //deepskyblue; //darkturquoise; //cyan; //cornflowerblue;  //#00E0FF; //#00B4B4;
$background-color-body: #1F1F1F;
$background-color-content: #1F1F1F;
$background-color-entry: #1A1A1A;
$background-color-menu: black;
$background-color-footer: rgba(21, 14, 41, 1);
$border-color:#800080;
$shadow-color: #400040;

.border {
    border: .066rem $border-color solid;
}

.box-shadow {
    box-shadow: 0 0 .3rem .1rem $shadow-color;
}

.card {
    min-width: 100%;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.flex-item {
    flex-grow: 1;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.open {
    bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $header-color; //#0096FF;
    margin: 0;
}

h2 {
    line-height: initial;
    width: auto;
}

img {
    width: 100%;
    height: 15rem; // height: auto;
}

html {
    body {
        background-color: $background-color-body;
        color: $font-color;
        font-size: $font-size;
        font-family: $font-family;
        font-weight: $font-weight;
        
        a {
            color: $link-color;
        }

        #content {
            // max-height: 100vh;
            // overflow-y: auto;

            .entry {
                background-color: $background-color-entry;
                box-sizing: border-box;
                margin-bottom: 1rem;
                padding: .4rem;

                p {
                    line-height: 1.9rem;
                    text-align: justify;
                    margin: 2.5rem 2.5rem 0 0;
                }
            }
        }
    
        #footer-button {
            background-color: $background-color-menu;
            bottom: 0;
            box-sizing: border-box;
            height: 6rem;
            position: fixed;
            width: 100%;
        }

        footer {
            background-color: $background-color-footer;

            bottom: -38rem;
            display: flex;
            flex-direction: column;
            height: 38rem;
            justify-content: space-between;
            position: fixed;
            width: 100%;
        
            img {
                display: block;
            }

            a {
                line-height: 2rem;
                text-align: center;
                text-decoration: none;
            }

            #menu {
                overflow-x: auto;
            }

            #greetings {
                background-color: black;
                $height: 4rem;
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    img {
        display: inline-block;
        height: 15rem; // height: auto;
        width: 20rem;
    }

    .card {
        box-sizing: border-box;
        min-width: 50%;
        padding: 3rem;
    }

    html body #content .entry {
        margin: 8rem auto 10rem;
        padding: 4rem 3rem;
        width: 70rem;
        height: 100rem;

        overflow-y: auto; // remove later!
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .card {
        min-width: 33.33%;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}