// $font-size: 16px;
$font-size: calc(16px + 6 * ((100vw - 320px) / 680));
// $font-family: "Times New Roman", Times, serif;
$font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
$font-weight: 400;

// Colors
// $font-color: aqua;
// $background-color-body: none; // make a constructor image...
// $background-color-content: blueviolet;
// $background-color-menu: #171717;
// $background-color-footer: #171717;
// $border-color: #E300F8;
// $shadow-color: #E300F8;

/* Color Theme Swatches in Hex */
// $border-color-hex: #403725;
// $background-color-menu-hex: #BBF78F;
// $font-color-hex: #00FFFF;
// $background-color-content-hex: #150E29;
// $background-color-footer-hex: #171717;
// $shadow-color-hex: #BBF78F;

/* Color Theme Swatches in RGBA */
// $border-color-rgba: rgba(64, 55, 37, 1);
// $background-color-menu-rgba: rgba(187, 247, 143, 1);
// $font-color-rgba: rgba(0, 255, 255, 1);
// $background-color-content-rgba: rgba(21, 14, 41, 1);
// $background-color-footer-rgba: rgba(23, 23, 23, 1);
// $shadow-color-rgba: rgba(187, 247, 143, 1);

$font-color: rgba(0, 255, 255, 1);
$background-color-content: rgba(23, 23, 23, 1);
$background-color-menu: rgba(0, 0, 0, 1);
$background-color-footer: rgba(21, 14, 41, 1);
$border-color: rgba(187, 247, 143, 1);
$shadow-color: rgba(64, 55, 37, 1);

.border {
    border: .1rem $border-color solid;
}

.box-shadow {
    box-shadow: 0 0 0.3rem 0.1rem $shadow-color;
}

.card {
    min-width: 100%;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.flex-item {
    -webkit-box-flex: 1;
            flex-grow: 1;
}

.flex-column {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
}

.flex-row {
    display: -webkit-box;
    display: flex;
}

.open {
    bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h2 {
    line-height: 2rem;
}

img {
    width: 100%;
    height: 15rem; // height: auto;
}

html {
    body {
        color: $font-color;
        font-size: $font-size;
        font-family: $font-family;
        font-weight: $font-weight;
        a {
            color: $font-color;
        }

        #content {
            background-color: $background-color-content;
            max-height: 100vh;
            overflow-y: auto;

            .entry {
                background-color: $background-color-content;
                box-sizing: border-box;
                margin-bottom: 1rem;
                padding: .4rem;

                p {
                    line-height: 1.75rem;
                }
            }
        }
    
        footer {
            background-color: $background-color-footer;

            bottom: -29rem;
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                    flex-direction: column;
            height: 32rem;
            -webkit-box-pack: justify;
                    justify-content: space-between;
            position: fixed;
            width: 100%;
        
            img {
                display: block;
                // height: auto; // 12rem;
                // width: 100% // 22rem;
            }

            a {
                line-height: 2rem;
                text-align: center;
                text-decoration: none;
            }

            $margin-bottom: .5rem;

            #footer-button {
                background-color: $background-color-menu;
                height: 3rem;
            }

            #menu {
                overflow-x: auto;
            }

            #greetings {
                background-color: black;
                $height: 4rem;
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    img {
        height: 15rem; // height: auto;
        margin-left: auto;
        margin-right: auto;
        width: 20rem;
    }

    .card {
        min-width: 50%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .card {
        min-width: 33.33%;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}